.main-header{
    font-size: 34px;
    text-align: center;
}

.main-subheader{
    font-size:20px;
    text-align: center;
    font-weight:normal;
    margin-bottom:30px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.side-blog-nav{
    padding: 0;
    list-style: none;
    font-size: 18px;
    border-right: 1px solid #ccc;
    li{
        margin-bottom:20px;
    }
}

.blog-wrapper-main {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.width_100{
    width:100%;
}

.post-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left:-20px;
    margin-left:-20px;
    a{
        display: block;
        width: 100%;
    }
}

.post-item:first-child {
    width: 100%;
    padding-top: 0;
}

.publish-date{
    
}

.post-item {
    width: 50%;
    padding: 20px;
}

.blog-right{
    padding-left: 0;
    border: 0;
}